/* shared style  */
body {
    font-family: 'Open Sans', sans-serif;
}

section {
    margin: 130px 100px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    padding: 50px 100px;
}

.orange-primary {
    color: #FD6E0A;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


/* here is nav style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/* header style */
.header {
    max-width: 1600000px;
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greetings {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-description {
    margin-top: 10px;
}

.btn-three {
    color: #FD6E0A;
    background: none;
    border: 1px solid #FD6E0A;
    margin-left: 18px;
}

/* main  section styles */
.main {
    max-width: 1140px;
    margin: 0 auto;


}


/* about  section styles */

.about {
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 100px;
    padding: 100px 120px;
}



.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

/* skill related styles  */

.skills {
    display: flex;
}

.skill-info {
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
}

.skill-info-img {
    width: 40px;
    height: 44px;
}

.skill-info-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-info-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* resume styles */

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
}

.resume-container {
    display: flex;
    margin-right: 10px;
    margin-right: 20px;
}

.resume-item {
    margin: 30px 0 30px 0;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    margin-top: 20px;

}

.resume-container hr {
    margin-right: 25px;
}


